.icon-container{
    height: 2.1rem;
    width: 2.1rem;
    background-color: rgba(246, 253, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-container:hover{
    cursor: pointer;
}