nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #ffffff;
  border-radius: 4rem;
  margin-top: 16px;
  .menu-section {
    display: flex;
    gap: 1rem;

    ul {
      display: flex;
      list-style: none;
      gap: 2.5rem;
      align-items: center;

      li,li h1 a{
        // About Us
        color: black;
        font-size: 0.875rem;
        font-family: Gotham;
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word;
      }
      
    }

    button {
      border: none;
      background-color: #009fe3;
      padding: 1rem 1.5rem;
      border-radius: 1.5rem;

      color: white;
      font-size: 0.875rem;
      font-family: Gotham;
      font-weight: 400;
      line-height: 20px;
      word-wrap: break-word;
    }
  }
}

button:hover{
  cursor: pointer;
}