.main-container {
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 2;
}
.home-section {
  background-color: rgb(2, 162, 255);
  height: 100vh;
  // background-image: url("/background.webp"); /* Set the background image */
  background-size: cover; /* Adjust how the image is displayed */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .text-container {
    flex: 2;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      // Where trust<br/>meets innovation
      color: white;
      font-size: 3.75rem;
      font-family: Nexa Bold;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 60px;
      word-wrap: break-word;
      max-width: 60%;
    }
    p {
      // Your reliable MedTech Partner for a Healthier Future
      color: white;
      font-size: 1.125rem;
      font-family: Gotham;
      font-weight: 400;
      line-height: 36px;
      word-wrap: break-word;
    }

    button {
      border: none;
      background-color: #ffffff;
      padding: 1rem 1.5rem;
      border-radius: 1.5rem;
      color: #201d1d;
      font-size: 0.87rem;
      font-weight: 400;
      line-height: 20px;
      word-wrap: break-word;
    }
    button:hover {
      cursor: pointer;
    }

    .arraow-container{
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        // padding-top: 4rem;
      }
    }
  }

  .bottom-ovel {
    position: absolute;
    bottom: 0;
    height: 7rem;
    display: flex;
    gap: 0;
    width: 100%;
    div {
      background-color: white;
    }
    div:first-child {
      flex: 1;
      border-top-left-radius: 100%;
    }
    div:last-child {
      flex: 1;
      border-top-right-radius: 100%;
    }
  }


  .background-image{
    top: 0;
    left: 0;
    position: absolute;
    width: 60%;
    height: 100%;
    background-image: url("/bg1.webp"); /* Set the background image */
    background-size: cover; /* Adjust how the image is displayed */
    background-repeat: no-repeat;
    opacity: .5;
  
    img{
      height: 100%;
    }
  }
  .background-ellipse{
    top: 0;
    right: 0;
    background-image: url("/ellipse.svg"); /* Set the background image */
    background-size: cover; /* Adjust how the image is displayed */
    background-repeat: no-repeat;
    position: absolute;
    width: 55%;
    height: 100%;
  }

  .hand-container{
    top: 50%;
    right: 0;
    width: 50%;
    height: 50%;
    position: absolute;

    .hand{
      height: 100%;
      // background-image: url("/hand.png"); /* Set the background image */
      background-size: cover; /* Adjust how the image is displayed */
      background-repeat: no-repeat;
  
    }
  }

  .logo-container{
    top: 17%;
    right: 0;
    width: 40%;
    height: 50%;
    position: absolute;

    .logo{
      height: 100%;
      // background-image: url("/hand-logo.png"); /* Set the background image */
      background-size: cover; /* Adjust how the image is displayed */
      background-repeat: no-repeat;
  
    }
  }
}
